
<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">

    </head>
    
    <body>
        <div class="main-content">
        {{>header}}
        
    <h1>{{>404}}</h1>
    <img width="100%" src="https://hookagency.com/wp-content/uploads/schema-and-structured-data-for-wp/stg-404-page-funny-1200x900.png" alt="">
</div>
         {{>footer}}
    </body>
</html>